.navbar{
  background-color: rgba(224, 238, 198, .25);
}

main.container{
  padding: 0;
}

.userImg{
  width: 50px;
  height: 50px;
  cursor: pointer;
}

main{
  background-color: rgba(224, 238, 198, .25);
  margin: 80px 0 80px 0;
}

.nav-link, .nav-link:hover{
  color: #000;
}

.dataSection{
  border: 1px solid #c4c4c4;
  border-radius: 20px;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
}

.statusMessage{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}

.col{
  padding-left: 0;
}

.submitButton{
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  background-color: rgba(224, 238, 198, 1);
}